# set prefix to ctrl-space
unbind C-b
set-option -g prefix C-Space
bind-key C-Space send-prefix 

# bind r to reload config
unbind r
bind r source-file ~/.tmux.conf

# selet pane with vi keys
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# select in copy mode with vi keys
set-window-option -g mode-keys vi

# status bar top
set -g status-position top

# start indexes with 1
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# open new panes in cwd 
bind '"' split-window -v -c "#{pane_current_path}"
bind '%' split-window -h -c "#{pane_current_path}"

# set different color for inactive panes
set -g focus-events on
set-hook -g pane-focus-in 'select-pane -P bg=color235,fg=default'
set-hook -g pane-focus-out 'select-pane -P bg=color240'

# set border style (overwrite dracula settings)
set -g pane-active-border-style 'bg=color240,fg=color240'
set -g pane-border-style 'bg=color240,fg=color240'
